<!DOCTYPE html>
<html>
<head>
	<title>PyBlog</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/prettify.css">
	<script type="text/javascript" src="/static/js/prettify.js"></script>
</head>
<body onload="prettyPrint()">
	<div id="wrap">
		<header>
			<a href="/"><h1>PyPlog</h1></a>
			<ul id="social">
				<li><a target="_blank" href="#"><i class="icon-twitter"></i></a></li>
				<li><a target="_blank" href="#"><i class="icon-linkedin"></i></a></li>
				<li><a target="_blank" href="#"><i class="icon-github"></i></a></li>
				<li><a target="_blank" href="#"><i class="icon-envelope"></i></a></li>
			</ul>

			<ul id="navlinks">
				<li><a href="/blog">blog</a></li>
				<li><a href="/code">code</a></li>
				<li><a href="/fun">fun</a></li>
				<li><a href="/resources">resources</a></li>
				<li><a href="javascript:show_contact()">contact</a></li>
			</ul>
		</header>

		<div id="page-content">
			{% block content %}
			{% endblock %}
		</div>

		<footer>
			<p>{{today}} <a href="https://github.com/ryangallen/pyblog">github.com/ryangallen/pyblog</a></p>
		</footer>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/js/main.js"></script>
	</div>
</body>
</html>