{% extends "base.html" %}
{% block content %}
<h2 class="center"><i class="icon-wrench"></i> Code</h2>
<div class="post">
<h3>HTML 5 Shell</h3>
  <p class="reg">
    Basic teplate for starting an HTML file.
  </p>

  <h4>HTML:</h4>
  <pre class="prettyprint well" contenteditable="true">&lt;!doctype html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  
&lt;/body&gt;
&lt;/html&gt;</pre>

<h4>What you get:</h4>
<p>A blank webpage</p>
{% endblock %}