{% extends "base.html" %}
{% block content %}
<h2 class="center"><i class="icon-magic"></i> Fun</h2>
<p>"Oh, a trifle of sea-sickness&mdash;I've been staying in my berth.  The Gulf of Bengal does not agree with me as well as the Indian Ocean.  And how is Mr. Fogg?"</p>

<p>"As well and as punctual as ever, not a day behind time!  But, Monsieur Fix, you don't know that we have a young lady with us."</p>

<p>"A young lady?" replied the detective, not seeming to comprehend what was said.</p>

<p>Passepartout thereupon recounted Aouda's history, the affair at the Bombay pagoda, the purchase of the elephant for two thousand pounds, the rescue, the arrest, and sentence of the Calcutta court, and the restoration of Mr. Fogg and himself to liberty on bail.  Fix, who was familiar with the last events, seemed to be equally ignorant of all that Passepartout related; and the later was charmed to find so interested a listener.</p>

<p>"But does your master propose to carry this young woman to Europe?"</p>

<p>"Not at all.  We are simply going to place her under the protection of one of her relatives, a rich merchant at Hong Kong."</p>

<p>"Nothing to be done there," said Fix to himself, concealing his disappointment.  "A glass of gin, Mr. Passepartout?"</p>
{% endblock %}