{% extends "base.html" %}
{% block content %}
<form method="post" id="write">
	<h2>New Entry</h2>
	<label for="title"><div>Title</div></label>
	<input type="text" name="title" id="title" value="{{title}}">
	
	<label for="content"><div>Content</div></label>
	<textarea name="content" id="content">{{content}}</textarea>

	<label for="code"><div>Code</div></label>
	<input type="password" id="code" name="code">
	<input type="submit" value="Post" class="btn">
	<div class="error"><p>{{error}}</p></div>
</form>
{% endblock %}